<header>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <h1> {{pageTitle}}</h1>
  <!-- <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p> -->
  <div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/About">About</a>
    <a href="#contact">Contact</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div>

</header>
